.about-page {
  background-color: $light-blue-20;

  &__banner {
    position: relative;
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 100px;
    height: 60vh;
    overflow: hidden;

    @include media(">=tablet") {
      overflow: visible;
    }

    h1 {
      z-index: 1000;
      color: white;
      padding: 0px 50px;
      text-align: center;
    }

    &-overlay {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      border-bottom-left-radius: 100px;
      z-index: 100;
    }

    &-img {
      position: absolute;
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      border-bottom-left-radius: 100px;
      object-fit: cover;
    }
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px;


    &-buttons {
      display: flex;
      flex-direction: column;
      gap:0px;
      margin-top: -80px;
      z-index: 1000;

      @include media(">=desktop") {
        flex-direction: row;
        gap: 12px;

      }

      &-button {
        display: flex;
        align-items: center;
        background-color: $light-blue;
        height: 80px;
        padding: 0px 60px;
        border-bottom: 1px solid #ebebeb;
        text-align: center;
        cursor: pointer;

        @include media(">=desktop") {
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          border: none;
        }

        &:hover {
          background-color: white;
        }

        &.active {
          background-color: white;
        }
      }
    }

    &-contents {
      padding: 50px;

      @include media(">=tablet") {
        padding: 50px;
      }

      &-one {

        &-why {
          padding: 50px;
          background-color: $light-blue-20;
          margin-top: 50px;
          border-radius: 0px 30px 30px 30px;
  
          @include media(">=tablet") {
            padding: 50px;
          }

          &-content {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            gap: 40px;
  
            @include media(">=tablet") {
              flex-direction: row;
             
            }
            
            &-card {
              display: flex;
              flex-direction: column;
             
              gap: 20px;

              img {
               height: 70px; 
               width: 70px;
              }

              &-meta {
                display: flex;
              flex-direction: column;
              justify-content: space-between;
              gap: 20px;
              }
            }
          }
        } 

        &-team {
          margin-top: 50px;

          p {
            margin-top: 50px;
          }

          &-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin-top: 50px;
            gap: 40px;

            @include media(">=tablet") {
              grid-template-columns: repeat(2, 1fr);
            }

            &-card {
              
              div {
                padding: 16px;
                background-color: $light-blue;
                width: fit-content;
                border-radius: 16px 16px 0px 0px;
              }

              img {
                width: 100%;
                height: auto;
                max-height: 350px;
                object-fit: cover;
              }

            }
          }
        }
      }
      
      &-two {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
     }

      &-three {
        display: flex;
        flex-direction: column;
        gap: 100px;

        &-brand {
          display: flex;
          flex-direction: column;
          gap: 20px;

          img {
            width: 100%;
            max-width: 300px;
            height: auto;
          }

          &-title {
            display: flex;
          flex-direction: column;
       
          }
        }

      }

      &-four {
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
          margin-top: 20px;
          width: 100%;

          @include media(">=tablet") {
            width: 70%;
          }
        }
      }

      &-five {
        display: flex;
        flex-direction: column;
        gap: 100px;

        &-sponsorship {
          display: flex;
          flex-direction: column;
          gap: 20px;
          background-color: $light-blue-20;
          padding: 50px;

          img {
            width: 100%;
            max-width: 300px;
            height: auto;
            border-radius: 30px 30px 30px 0px;
          }

          &-title {
            display: flex;
          flex-direction: column;
       
          }
        }

      }
    }
  }

  &__explore {
    padding: 100px 0px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 0px;
      text-align: center;
    }

    &-cards {
      display: grid;
      margin: auto;
      gap: 20px;
      grid-template-columns: repeat(1,1fr);

      @include media(">=tablet") {
        grid-template-columns: repeat(2,1fr);
      }

      @include media(">=desktop") {
        grid-template-columns: repeat(4,1fr);
      }

      &-card {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px;
        border-radius: 50px 50px 50px 0px;

        header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          div {
            display: flex;
            align-items: center;
            justify-content: center;
  
            img {
              height: 60px;
              width: 60px;
              object-fit: contain;
            }
          }

          
        }

        button {
          width: fit-content;
        }

        &.blue {
          background-color: $light-blue;
        }

        &.orange {
          background-color: $orange;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
