$light-blue: #92BFF8;
$light-blue-dark: #75aaf0;
$light-blue-20: rgba(146, 191, 248, 0.2);
$navy-blue: #181349;
$orange: #f84d1a;
$dark-orange: #da4517;
$light-green: #76C043;

$primary-blue: #0002af;
$primary-violet: #8573ff;
$primary-orange: #ff7100;
$secondary-blue: #394adc;
$secondary-violet: #958DFC;

$light-green: #c9ffc3;
$light-pink: #ffe1f1;
$light-violet: #e8e3ff;

$success-light: #63ad5e;
$success: #4bb543;
$success-dark: #28b01e;

$warning-light: #ffd736;
$warning: #ffcc00;
$warning-dark: #e6b800;

$danger-light: #ff3838;
$danger: #ff0e0e;
$danger-dark: #db0000;

$dark: #474747;
$dark-dark: #2c2c2c;

$light: #ffffff;
$light-dark: #f3f3f3;

$black: #000000;
$white: #ffffff;
